{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
    <p>{{ error_msg }}</p>
    {% endif %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}丨</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                                          datetime="{{ post.created_time }}">{{ post.created_time }}丨</time></a></span>
                    <span class="post-author"><a href="#">作者：{{ post.author }}丨</a></span>
                    <span class="comments-link"><a href="#">{{ post.comments_set.count }} 评论丨</a></span>
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">|👆详细阅读👆 |<span class="meta-nav"></span></a><hr>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}



{#{% if is_paginated %}#}
{#<div class="pagination-simple">#}
{#  <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->#}
{#    {% if page_obj.has_previous %}#}
{#        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>#}
{#    {% endif %}#}
{#  <!-- 显示当前页面信息 -->#}
{#    <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>#}
{#  <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->#}
{#    {% if page_obj.has_next %}#}
{#        <a href="?page={{ page_obj.next_page_number }}">下一页</a>#}
{#    {% endif %}#}
{#</div>#}
{#{% endif %}#}



{% endblock main %}
